<br/>
	<nav class="navbar navbar-expand-lg navbar-light bg-*">
	  <form class="form-inline">
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <button class="btn btn-danger mr-3" type="button">
	      	<%= link_to "Home", root_path, class:"nav-link" %>
	      </button>
	      <button class="btn btn-danger mr-3" type="button">
	      	<%= link_to "Our Products", home_ourproducts_path, class:"nav-link" %>
	      </button>
	      <button class="btn btn-danger mr-3" type="button">
	      	<%= link_to "Our Services", home_ourservices_path, class:"nav-link" %>
	      </button>
	      <button class="btn btn-danger mr-3" type="button">
	      	<%= link_to "About Us", home_aboutus_path, class:"nav-link" %>
	      </button>
	      <button class="btn btn-danger mr-3" type="button">
	      	<%= link_to "Contact Us", home_contactus_path, class:"nav-link" %>
	      </button>
	    </div>
	  </div>
	  </form>
	</nav>